body {
	background-color: rgba(87,45,104,0.3);
}
h2 {
	border-style:"dashed"
}
p {
	background-color: rgba(48,95,14,0.2);
	border-style: 4px solid red;
	border-radius: 8px;
}
a {
    	position: fixed;
        top: 0;
	left: 0;
}
div {
	background color: rgba(28,25,64,0.3);
	width: 200px;
	margin: 50px;
	padding: 20px;
	border: 12px dotted rgba(90,2,94,0.3)
}
