body {
	margin: 0%;
	box-sizing: content-box;
	width: 100%;
	font-family: Verdana, Arial, Times;
	background-image: url("../img/beach.jpeg");
	background-size: 100%;
	background-attachment: fixed;
}
li {
	list-style-type: none;
}
h1 {
	margin: 0;
	font-size: 1400%;
	text-shadow: 0 0 10px #000, 0 0 20px #f00, 0 0 30px #aa4422;
	color: transparent;
}
input[type=text], select {
	background-color: #FF982B;
	width: 100%;
	padding: 8px 15px;
	margin: 8px 0;
	display: inline-block;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit] {
	background-color: #FF982B;
	padding: 14px 20px;
	margin: 4px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
img {
	border: 3px solid #aa4422;
	border-radius: 8px;
	margin: 18px;
}
iframe {
	display: block;
	margin: auto;
}
.portrait img {
	height: 150px;
	float: left;
	margin: 0;
}
figcaption {
	font-size: 80%;
}
.merch img {
	height: 70px;
	float: right;
}
#rmm {
	position: absolute;
	right: 0;
	top: 0;
}
#banner {
	height: 250px;
	overflow: hidden;
	margin: auto;
	width: 100%;
	background-color: #000;
	background-image: url("../img/rmmlogosmall.jpeg");
	background-size: cover;
	background-position: 25% 80%;
}
.separatorla {
	margin: 0 0 800px 0;
	box-shadow: 0 0 20px 20px #000;
}
.separatorsm {
	margin: 0 0 80px 0;
	box-shadow: 0 0 20px 20px #000;
}
.blackbox {
	margin: 80px 0 0 0;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 80px;
	color: #FF982B;
	font-size: 120%;
	padding: 100px;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
}
.innerbox {
	margin: 80px 0 0 0;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 60px;
	color: #FF982B;
	font-size: 120%;
	padding: 100px;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
}
.merch {
	display: grid;
	grid-template-columns: auto auto;
}
#imgbox {
	margin-top: 80px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 10px;
}
footer {
	margin: auto;
	text-align: center;
}
#mainnav {
	color: #222211;
	padding: 100px;
	width: 30%;
	position: relative;
	bottom: 0;
	box-shadow: 0 0 50px rgba(210,65,10,0.83);
	background-image: radial-gradient(rgba(210,65,10,1), rgba(210,65,10,0.27));
}
#mainnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}
#mainnav li {
	float: left;
}
.navigation {
	display: block;
	list-style-type: none;
	margin-right: 5px;
	color: #000;
	font-size: 149%;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	border-radius: 5px;
	white-space: nowrap;
}
.liactive {
	background-color: #FF982B;
}
.liactive a{
	color: #000;
}
.navhover a:hover {
	color: #000;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: #000;
	background-color: #FF982B;
	transition: .4s ease;
}
.navhover :hover {
	background-color: #FF982B;
	transition: .4s ease;
}
a {
	color: #FF982B;
	text-decoration: none;
}
.media {
	color: #FF982B;
}
table {
	font-size: 120%;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
th, td {
	text-align: left;
	padding: 14px;
}
tr:nth-child(even) {
	background-color: rgba(255,136,91,0.4);
	color: black;
}
.brandicon {
	display: inline;
	list-style-type: none;
	font-size: 350%;	
	padding: 0 10px 0 10px;
	border-radius: 10px;
}
.fa {
  color: #FF982B;
}
@media only screen and (max-width: 1000px) {
	.blackbox {
		display: block;
	}
	.innerbox {
		display: block;
	}
	.brandicon {
		float: right;
	}
	.navigation {
		padding: 3px;
	}
	.merch {
		grid-template-columns: auto;
	}
	#imgbox {
		grid-template-columns: auto;
	}
	.nodsp {
		display: none;
	}
	#omitpad {
		padding: 1px 8px 40px 8px;
	}
}
@media only screen and (max-width: 1400px) {
	body  {
		background-size: cover;
	}
}
