body {
  background-color: black;
  color: white;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 12px;
  color: green;
}
.sausagePie {
  border-style: dotted;
  border-width: 2px;
  border-spacing: 100px 100px;
}
ol {
  type: a;
}
ul {
  list-style-type: square;
}
